@model Pascu_Serban_Proiect.Models.ToyShopViewModels.BrandIndexData

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Address</th>
            <th>Toys</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Brands)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["BrandID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var toy in item.BrandedToys)
                        {
                            @toy.Toy.ID @: @toy.Toy.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Toys != null)
{
    <h3>Toys Branded by Selected Brand</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model.Toys)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ToyID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { toyID = item.ID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}

@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Toy
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}